image: docker.io/cimg/rust:1.88.0
variables:
    DOCKER_HOST: tcp://docker:2375/
    DOCKER_TLS_CERTDIR: ""
    DOCKER_DRIVER: overlay2
    FF_NETWORK_PER_BUILD: "true"
    CROSS_REMOTE: 1
services:
    - docker.io/docker:24.0.6-dind
before_script:
  - docker run docker.io/hello-world
  - cargo install cross
    

test:
  script:
    - rustc --version && cargo --version
    - cargo xtask test 

build:amd64linux:
    script:
        - rustc --version && cargo --version
        - cargo xtask build x86_64-unknown-linux-musl
        - cargo xtask build aarch64-unknown-linux-musl
        - cargo xtask build x86_64-unknown-freebsd
        - cargo xtask build x86_64-unknown-illumos

