name: ci
on:
  push:
    branches:
      - github-actions
permissions:
  contents: read
jobs:
  test:
    name: test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: cargo install cross
      - run: rustup target add ${{ matrix.target }}
      - run: cargo xtask build ${{ matrix.target }}
      - uses: actions/upload-artifact@v4
        with:
          path: bins/*
      - matrix:
          include:
            - target: x86_64-unknown-linux-musl
            - target: aarch64-unknown-linux-musl
            - target: x86_64-unknown-freebsd
            - target: x86_64-unknown-illumos

