name: ci
on:
  push:
    branches:
      - github-actions
permissions:
  contents: read
jobs:
  test:
    name: test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: cargo install cross
      - run: rustup target add x86_64-unknown-linux-musl
      - run: rustup target add aarch64-unknown-linux-musl
      - run: rustup target add x86_64-unknown-freebsd
      - run: rustup target add x86_64-unknown-illumos
      - run: cargo xtask build x86_64-unknown-linux-musl
      - run: cargo xtask build aarch64-unknown-linux-musl
      - run: cargo xtask build x86_64-unknown-
      - uses: actions/upload-artifact@v4
        with:
          path: bins/*
